/* Variables */

$color-light: #fff;
$color-dark: #444;
$color-green: #43BFC7;
$color-blue: #2554C7;

$font-text: 'Consolas', sans-serif;

/* Global */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: $color-light;
  font-family: $font-text;
  color: $color-dark;
  font-size: 16px;
  line-height: 1.7;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  margin-left: 10px;
}

.sidebar {
  flex: 1 0 0;
}

.centerbar {
  flex: 2 0 0;
}

.sidebar, .centerbar {
  background: $color-light;
  margin-right: 10px;
  padding: 40px;
  &.centerbar {
    border: 1px dotted $color-green;
    border-radius: 5px;
  }
}